body {
    font-family: Arial, sans-serif;
    background: url('img.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(2px);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin: 10px;
}

h2 {
    color: #ffffff;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #ffffff;
    text-align: left;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.toggle-link {
    color: #ffffff;
    font-size: 0.9em;
    cursor: pointer;
}

.toggle-link a {
    color: #4cb1f5;
    text-decoration: underline;
}

.hidden {
    display: none;
}

#message {
    margin-top: 15px;
    color: red;
}