/* Set the body and html to have no margins and full height */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Set the map to take the full height and width of the window */
#map {
    height: 100%;
    width: 100%;
}

/* Style for the button */
#saveLocationBtn {
    position: absolute;
    bottom: 10px; /* Position at the bottom */
    left: 10px;   /* Align to the left */
    z-index: 1002; /* Ensure the button stays above the map and sidebar */
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Sidebar styling */
.sidebar {
    position: absolute;
    top: 0;
    right: -300px; /* Initially hidden off-screen */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    transition: right 0.3s;
    z-index: 1001; /* Above the map */
}

.sidebar.active {
    right: 0; /* Slide in when active */
}

