/* Set the map to cover the entire viewport */
#map {
    height: 100vh; /* Full viewport height */
    width: 100%;   /* Full width */
    margin: 0;
    padding: 0;
}

/* Style for the save button */
#saveLocationBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000;
}

#saveLocationBtn:hover {
    background-color: #218838;
}
